@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!--main container start-->
<div class="container submit-artical-main-container">

    <div class="row">
        <div class="col-sm-12 col-md-9">
            <!--main content start-->

            <div class="row">

                <div class="col-md-12">
                    <h3>Get in touch!</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

            </div>

            <!-- the comment box -->
            <div class="well">

                <!---->
                <form role="form">

                    <div id="editor">

                        <!---->
                        <h4>Your name:</h4>
                        <div>
                            <input class="post-submit-input" type="text" name="title" placeholder="" />
                        </div>
                        <!---->
                        <!---->
                        <h4>Your email:</h4>
                        <div>
                            <input class="post-submit-input" type="text" name="title" placeholder="" />
                        </div>
                        <!---->

                        <h4>Write message:</h4>
                        <div data-role="body">
                            Lorem <b>ipsum </b><i>dolor </i><strike>sit</strike> <u>amet</u>, <b><i>consectetur</i></b> <u><strike>adipiscing</strike></u> elit, <i><u>sed</u></i> do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            <div style="text-align: center;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            <div style="text-align: right;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                            <div>
                                <ul>
                                    <li>Excepteur sint occaecat cupidatat non proident.<br></li>
                                    <li>Sunt in culpa qui officia deserunt mollit anim id est laborum.<br></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button type="submit" name="say" value="" class="btn btn-primary"><i class="fa fa-reply"></i> Submit your message</button>
                </form>
                <!---->

            </div>

            <!--main content end-->
        </div>

        <div class="col-sm-12 col-md-3">
            <!--Google ads start-->
            <div class="ad-cont"><img src="~/Content/OurContent/img/banner-skyscraper-bng.jpg" /></div>
            <!--Google ads end-->
        </div>
    </div>
</div>
<!--main container end-->