@{
    ViewBag.Title = "Home Page";
}


<section id="tabSection">
    <div class="container main-content-wrapper">
        <!-- Tabs -->
        <ul class="tab-nav">
            <li class="magenta"><a href="#tab1">Tadadb1</a></li>
            <li class="purple"><a href="#tab2">Tab2</a></li>
            <li class="orange"><a href="#tab3">Tab3</a></li>
            <li class="blue"><a href="#tab4">Tab4</a></li>
            <li class="green"><a href="#tab5">Tab5</a></li>
            <li class="lime"><a href="#tab6">Tab6</a></li>
        </ul>

        <!-- Content -->
        <!--tab content one start-->
        <div class="content active" id="tab1">
            <hr class="tab1-hr" />

            <div class="postLoopContainer">

                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <!--main content start-->
                        <!--row loop start-->
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <a href="#">
                                    <img src="~/Content/OurContent/img/hasir-golpo.jpg" class="img-responsive img-box img-thumbnail">
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <h4>Revolution has begun!</h4>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p class="loopPostedBy"><i class="fa fa-user"></i> Posted by : <a href="#">Jalal Uddin</a> | <i class="fa fa-calendar"></i> Sept 16th, 2012 at 4:20 pm </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="post-loop-content">
                                            <div class="box after" id="dot3">
                                                'I am bound to Tahiti for more men.' 'Very good. Let me board you a moment—I come in peace.' With that he leaped from the canoe, swam to the boat; and climbing the gunwale, stood face to face with the captain. 'Cross your arms, sir; throw back your head. Now, repeat after me. As soon as Steelkilt leaves me, I swear to beach this boat on yonder island, and remain there six days. If I do not, may lightning strike me!'A pretty scholar,' laughed the Lakeman. 'Adios, Senor!' and leaping into the sea, he swam back to his comrades.
                                                @*<a href="#" class="readmore">Continue Reading &raquo;</a>
                                                    instead of using this we use this in loop*@
                                                @Html.ActionLink(HttpUtility.HtmlDecode("Continue Reading &raquo;"), "ReadMore", "Home", new { @class="readmore"})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row loopPostContentBottom">
                                    <div class="col-sm-12 col-md-3">
                                        <!---->
                                        <div class="star-rating">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">

                                        </div>
                                        <!---->
                                    </div>
                                    <div class="col-sm-12 col-md-9">
                                        <div class="postLoopTag-pull">
                                            <span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
                                            <span class="label label-danger">Danger</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!--row loop end-->
                        <!--row loop start-->
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <a href="#">
                                    <img src="~/Content/OurContent/img/dummy-post-img.jpg" class="img-responsive img-box img-thumbnail">
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <h4>Alice in Wonderland, part dos</h4>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p class="loopPostedBy"><i class="fa fa-user"></i> Posted by : <a href="#">Sabbir Ahmed</a> | <i class="fa fa-calendar"></i> Sept 16th, 2012 at 4:20 pm </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="post-loop-content">
                                            <div class="box after" id="dot3-1">
                                                'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: 'Yes, we went to school in the sea, though you mayn't believe it—' 'I never said I didn't!' interrupted Alice. 'You did,' said the Mock Turtle.
                                                <a href="#" class="readmore">Continue Reading &raquo;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row loopPostContentBottom">
                                    <div class="col-sm-12 col-md-3">
                                        <!---->
                                        <div class="star-rating">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">

                                        </div>
                                        <!---->
                                    </div>
                                    <div class="col-sm-12 col-md-9">
                                        <div class="postLoopTag-pull">
                                            <span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
                                            <span class="label label-danger">Danger</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!--row loop end-->
                        <!--row loop start-->
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <a href="#">
                                    <img src="~/Content/OurContent/img/book-background.jpeg" class="img-responsive img-box img-thumbnail">
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <h4>Alice in Wonderland, part dos</h4>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p class="loopPostedBy"><i class="fa fa-user"></i> Posted by : <a href="#">Sabbir Ahmed</a> | <i class="fa fa-calendar"></i> Sept 16th, 2012 at 4:20 pm </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="post-loop-content">
                                            <div class="box after" id="dot3-2">
                                                'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: 'Yes, we went to school in the sea, though you mayn't believe it—' 'I never said I didn't!' interrupted Alice. 'You did,' said the Mock Turtle.
                                                <a href="#" class="readmore">Continue Reading &raquo;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row loopPostContentBottom">
                                    <div class="col-sm-12 col-md-3">
                                        <!---->
                                        <div class="star-rating">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">

                                        </div>
                                        <!---->
                                    </div>
                                    <div class="col-sm-12 col-md-9">
                                        <div class="postLoopTag-pull">
                                            <span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
                                            <span class="label label-danger">Danger</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!--row loop end-->
                        <!--row loop start-->
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <a href="#">
                                    <img src="~/Content/OurContent/img/dummy-post-img.jpg" class="img-responsive img-box img-thumbnail">
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <h4>Alice in Wonderland, part dos</h4>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p class="loopPostedBy"><i class="fa fa-user"></i> Posted by : <a href="#">Sabbir Ahmed</a> | <i class="fa fa-calendar"></i> Sept 16th, 2012 at 4:20 pm </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="post-loop-content">
                                            <div class="box after" id="dot3-3">
                                                'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: 'Yes, we went to school in the sea, though you mayn't believe it—' 'I never said I didn't!' interrupted Alice. 'You did,' said the Mock Turtle.
                                                <a href="#" class="readmore">Continue Reading &raquo;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row loopPostContentBottom">
                                    <div class="col-sm-12 col-md-3">
                                        <!---->
                                        <div class="star-rating">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">

                                        </div>
                                        <!---->
                                    </div>
                                    <div class="col-sm-12 col-md-9">
                                        <div class="postLoopTag-pull">
                                            <span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
                                            <span class="label label-danger">Danger</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!--row loop end-->
                        <!--row loop start-->
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <a href="#">
                                    <img src="~/Content/OurContent/img/dummy-post-img.jpg" class="img-responsive img-box img-thumbnail">
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <h4>Alice in Wonderland, part dos</h4>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p class="loopPostedBy"><i class="fa fa-user"></i> Posted by : <a href="#">Sabbir Ahmed</a> | <i class="fa fa-calendar"></i> Sept 16th, 2012 at 4:20 pm </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="post-loop-content">
                                            <div class="box after" id="dot3-4">
                                                'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: 'Yes, we went to school in the sea, though you mayn't believe it—' 'I never said I didn't!' interrupted Alice. 'You did,' said the Mock Turtle.
                                                <a href="#" class="readmore">Continue Reading &raquo;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row loopPostContentBottom">
                                    <div class="col-sm-12 col-md-3">
                                        <!---->
                                        <div class="star-rating">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">

                                        </div>
                                        <!---->
                                    </div>
                                    <div class="col-sm-12 col-md-9">
                                        <div class="postLoopTag-pull">
                                            <span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
                                            <span class="label label-danger">Danger</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!--row loop end-->


                        <div class="pagination  pagination-lg pagination-sm">
                            <a href="#">&laquo;</a>
                            <a href="#">1</a>
                            <a href="#" class="active">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">&raquo;</a>
                        </div>
                        <!--main content end-->
                    </div>

                    <div class="col-sm-12 col-md-3">
                        <!--Google ads start-->
                        <div class="ad-cont"><img src="~/Content/OurContent/img/banner-skyscraper-bng.jpg" /></div>
                        <!--Google ads end-->
                    </div>
                </div>

            </div>

        </div>
        <!--tab content one end-->
        <div class="content" id="tab2">
            <hr class="tab2-hr" />
            <h1>Tab2</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="content" id="tab3">
            <hr class="tab3-hr" />
            <h1>Tab3</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="content" id="tab4">
            <hr class="tab4-hr" />
            <h1>Tab4</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="content" id="tab5">
            <hr class="tab5-hr" />
            <h1>Tab5</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="content" id="tab6">
            <hr class="tab6-hr" />
            <h1>Tab6</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/Content/OurContent/js/scripts.js"></script>
    
</section>

</div>